/*=============== SEARCH AREA STYLING ===============*/
/*@media screen and (min-width: 1150px){
  .Search_area .input {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 1rem;
    background-color: var(--white-color);
    padding: 0.5rem;
    border: 1px solid var(--black-color);
    border-radius: 5px;
    width: 100%;
    max-width: 500px;
    transition: transform 0.4s ease-out, visibility 0.4s;
  }
}*/

.input{
  display: flex;
  flex-direction: row;
  border: 1px solid var(--black-color);

}

  .search-bar {
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    font-size: var(--normal-font-size);
  }

  .search_button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .search_button img {
    width: 20px;
    height: 20px;
  }
  
  .shop_icons {
    display: flex;
    column-gap: 1rem;
    margin-left: auto;
  }
  
  .shop_icons_link {
    color: var(--black-color);
    font-size: 1.5rem;
    transition: transform 0.3s ease-out;
  }
  
  .shop_icons_link:hover {
    transform: translateY(-0.3rem);
  }
  /* Mobile responsiveness */
